<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <menuitem id="menu_position"
                  name="Position"
                  parent="hr.menu_config_employee"
                  action="p_employee.position_action" sequence="6"/>

        <menuitem id="menu_document"
                  name="Employee Document"
                  parent="hr.menu_config_employee"
                  action="p_employee.p_document_action" sequence="7"/>

    </data>
</odoo>