<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <menuitem id="menu_timeline_type"
                  name="Timeline Types"
                  parent="hr.menu_config_employee"
                  action="p_employee.timeline_type_action" sequence="6"/>

        <menuitem id="menu_document"
                  name="Employee document"
                  parent="hr.menu_config_employee"
                  action="p_employee.p_document_action" sequence="7"/>

    </data>
</odoo>